*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(255, 166, 0);
}
.app header h1 {
  margin: 5px 0 5px 5px;
}
.fruit-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;
}
.fruit-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 6px;
  line-height: 40px;
  background-color: rgb(255, 255, 255);
}
.onAdd{
    padding: 5px;
    cursor: pointer;
}
.cart {
  margin: 20px 0;
  width: 320px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  line-height: 40px;
  background-color: rgb(240, 240, 192);
}
.cart-list{
    list-style: none;
}
.cart-item{
    display: flex;
    justify-content: space-between;
}
.remove{
    padding: 5px;
    font-size: 35px;
    cursor: pointer;
}
.login-box{
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 300px;
  margin-top: 20px;
  margin-left: 50px;
}
.login-card{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  left:5%;
  width: 350px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.login-card > h2{
  padding:20px 0 0 20px;
}
.type-area{
  display: flex;
  flex-direction: column;
  margin:20px;
}
.login-row{
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}
.login-btn-1{
  display: flex;
  background-color: orange;
  justify-content: center;
  height: 40px;
  cursor: pointer;
}
.login-btn-2{
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
header{
  display: flex;
  justify-content: space-between;
}
.nav-list{
  list-style: none;
  display: flex;
}
.nav-list li{
  padding: 20px;
}
.nav-list li a:hover{
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

