*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
.app header h1 {
  margin: 0 0 20px 0;
}
main {
  /* display: flex; */
  gap: 20px;
}
.fruit-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;
}
.fruit-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 6px;
  line-height: 40px;
}
.onAdd{
    padding: 5px;
    cursor: pointer;
}
.cart {
  margin: 20px 0;
  width: 320px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  line-height: 40px;
}
.cart-list{
    list-style: none;
}
.cart-item{
    display: flex;
    justify-content: space-between;
}
.remove{
    padding: 5px;
    font-size: 35px;
    cursor: pointer;
}
